@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #223243;

}

.container {
    width: 100%;
    position: relative;
    padding-bottom: 5.5em;
    min-height: 100vh;
}

.nav {
    height: 90px;
    width: 100%;
    position: relative;
    align-items: center;
    background-color: #151823;
    color: #223243;
    border: 8px solid #151823;
    box-shadow:
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.nav .nav-header {
    display: inline;
    align-items: center;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    flex-direction: row;

}

.nav .nav-links .burger,
.nav .nav-links a {
    display: inline-block;
    padding: 5px 10px 13px 10px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    border-radius: 25px;
    transition: 0.42s;
}

.nav .nav-links a:hover {
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 10px;
}

.nav #nav-check {
    display: none;
}

.nav #dropdown-check {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 7em;
}

.hidden {
    display: none;
}

.dropdown span {
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 2px;
    font-size: x-small;
    margin-right: 1em;
    margin-bottom: 1em;
}

.dropdown a {
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #151823;
    color: #223243;
    border: 8px solid #151823;
    box-shadow:
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    padding: 12px 16px;
    margin-top: .5em;
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown span {
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 10px;
    font-size: x-small;
    margin-right: 1em;
    font-size: medium;
}

.nav-links #userimg,
.nav-title #userimg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #00dfc4;
    width: 2em;
    height: 2em;
    border: solid 1px #00dfc4;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 2em;
    margin-right: 1.2em;
}

.nav-links i {
    margin-top: 0.75em;
}

.nav a:hover {
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 10px;
}


.wrap-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.card {
    position: relative;
    width: 300px;
    height: 380px;
    background: #000000;
    display: flex;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.card:hover {
    width: 800px;
}

.card .imgBx{
    position: relative;
    min-width: 300px;
    height: 100%;
    background: rgb(197, 231, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.card .imgBx img {
    max-width: 250px;
    transition: 0.5s ease-in-out;
}

.card:hover .imgBx img {
    transform: rotate(-35deg)translateX(-20);
}

.card .details {
    position: absolute;
    left: 0;
    width: 500px;
    height: 100%;
    background: #00dfc4;
    display: flex;
    justify-content: center;
    padding: 1.25em;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.card:hover .details {
    left: 300px;
}

.card .details::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    z-index: 1;
}

.card .details h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
}

.card .details h3 span {
    font-size: 0.65em;
    font-weight: 300;
    opacity: 0.85;
    text-transform: none;
}

.card .details h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    color: #fff;
    font-size: 0.8em;
    opacity: 0.85;
}

.size {
    display: flex;
    gap: 10px;
}

.size li {
    list-style: none;
    color: #fff;
    font-size: 0.9em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    cursor: pointer;
    font-weight: 500;
    opacity: 0.5;
}

.size li:hover {
    background: #fff;
    color: #00dfc4;
    opacity: 1;
}

.group {
position: relative;
display: flex;
justify-content: space-between;
margin-top: 20px;
align-items: center;
}

.card .details h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
}

.card .details h2 sup {
    font-weight: 300;
}

.card .details h2 small {
    font-size: 0.75em;
}

.card .details .trolley {
    display: inline-flex;
    padding: 10px 25px;
    background: #fff;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #00dfc4;
}


.trolley {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.trolley button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: inherit;
}

.trolley button i {
    padding-right: 3px;
    border-right: solid #223243;
}

.trolley button span {
    color: #223243;
    padding-left: 3PX;
    font-weight: 500;
    cursor: pointer;
}

.wrap-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #151823;
    color: #223243;
    box-sizing: border-box;
    padding: .5em;
}

.footer_top{
    margin-bottom: 20px;
    border-bottom: 3px solid #00dfc4;
}

.footer_top i {
    font-size: 1em;
    color: #00dfc4;
    padding: reverse;
    padding-left: 4%;
    margin-right: 7px;
    margin-left: 7px;
}

.footer_top i:hover {
    border: 4px outset #00dfc4;
    border-radius: 100%;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    margin: 10px;
    padding: 4px;
}

.footer_list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: inherit;
    transition: color 0.25s;
}

.footer_list a:hover {
    color: #fff;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width:600px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav .nav-btn label:hover,
    .nav #nav-check:checked~.nav-btn label {
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #223243;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        margin-top: 1em;
        top: 50px;
        left: 0px;
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.1),
            10px 10px 15px rgba(0, 0, 0, 0.35),
            inset -10px -10px 15px rgba(255, 255, 255, 0.1),
            inset 10px 10px 15px rgba(0, 0, 0, 0.35);
    }

    .nav .nav-links a {
        display: block;
        width: 100%;
        margin-top: 1em;
    }


    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .nav .nav-links .burger {
        display: inline-flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: row-reverse;
    }

    .wrap-sign {
        position: absolute;
        display: block;
        width: 100%;
        z-index: -1;
    }

    .wrap-footer {
        position: fixed;
        bottom: 0vh;
    }รง

    .dropdown #dropdown-check:checked~.dropdown-content {
        display: block;
    }

}

@media (max-width:1080px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav .nav-btn label:hover,
    .nav #nav-check:checked~.nav-btn label {
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #223243;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        margin-top: 1em;
        top: 50px;
        left: 0px;
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.1),
            10px 10px 15px rgba(0, 0, 0, 0.35),
            inset -10px -10px 15px rgba(255, 255, 255, 0.1),
            inset 10px 10px 15px rgba(0, 0, 0, 0.35);
    }

    .nav .nav-links a {
        display: block;
        width: 100%;
        margin-top: 1em;
    }


    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .nav .nav-links .burger {
        display: inline-flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: row-reverse;
    }

    .wrap-sign {
        position: relative;
        display: block;
        width: fit-content;
        z-index: -1;
    }

    .wrap-footer {
        position: fixed;
        bottom: 0vh;
    }

    .dropdown:hover,
    .dropdown #dropdown-check:checked~.dropdown-content {
        display: block;
    }

}
