@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #223243;

}

.container {
    width: 100%;
    position: relative;
    padding-bottom: 5.5em;
    min-height: 100vh;
}

.nav {
    height: 90px;
    width: 100%;
    position: relative;
    align-items: center;
    background-color: #151823;
    color: #223243;
    border: 8px solid #151823;
    box-shadow:
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.nav .nav-header {
    display: inline;
    align-items: center;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    flex-direction: row;

}

.nav .nav-links .burger,
.nav .nav-links a {
    display: inline-block;
    padding: 5px 10px 13px 10px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    border-radius: 25px;
    transition: 0.42s;
}

.nav .nav-links a:hover {
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 10px;
}

.nav #nav-check {
    display: none;
}

.nav #dropdown-check {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 7em;
}

.hidden {
    display: none;
}

.dropdown span {
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 2px;
    font-size: x-small;
    margin-right: 1em;
    margin-bottom: 1em;
}

.dropdown a {
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #151823;
    color: #223243;
    border: 8px solid #151823;
    box-shadow:
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    padding: 12px 16px;
    margin-top: .5em;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown span {
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 10px;
    font-size: x-small;
    margin-right: 1em;
    font-size: medium;
}

.nav-links .fa-user,
.nav-title .userimg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #00dfc4;
    width: 2em;
    height: 2em;
    border: solid 1px #00dfc4;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 2em;
    margin-right: 1.2em;
}

.nav-links i {
    margin-top: 0.75em;
}

.nav a:hover {
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    background-color: #223243;
    color: #fff;
}

.left-side,
.right-side {
    width: 45%;
    text-align: left;
    padding: 20px;
}

.main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


.main th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.main td:not(:last-child) {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;

}

.main td:last-child {
    border: 1px solid #dddddd;
    text-align: center;
    padding-right: 7px;
    width: 100px;
}

.remove-btn:hover,
.buy-btn:hover,
.empty-cart-btn:hover,
.add-btn:hover {
    border: outset #00dfc4;

}


.buy-btn,
.empty-cart-btn {
    justify-content: right;
    background: #00dfc4;
    color: #223243;
    font-weight: 500;
    cursor: pointer;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    padding: 10px;
    font-size: medium;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 20px;

}

.main .add-btn {
    padding: 2.19px 9.21px;
    background-color: #00dfc4;
    color: #223243;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    box-shadow: -5px -5px 7px rgba(255, 255, 255, 0.1),
        5px 5px 7px rgba(0, 0, 0, 0.35),
        inset -5px -5px 7px rgba(255, 255, 255, 0.1),
        inset 5px 5px 7px rgba(0, 0, 0, 0.35);
}

.main .remove-btn {
    padding: 2.19px 9.98px;
    background-color: #00dfc4;
    color: #223243;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    box-shadow: -5px -5px 7px rgba(255, 255, 255, 0.1),
        5px 5px 7px rgba(0, 0, 0, 0.35),
        inset -5px -5px 7px rgba(255, 255, 255, 0.1),
        inset 5px 5px 7px rgba(0, 0, 0, 0.35);
}

.main select {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    width: 100%;
}



.wrap-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #151823;
    color: #223243;
    box-sizing: border-box;
    padding: .5em;
}

.footer_top {
    margin-bottom: 20px;
    border-bottom: 3px solid #00dfc4;
}

.footer_top i {
    font-size: 1em;
    color: #00dfc4;
    padding-left: 4%;
    margin-right: 7px;
    margin-left: 7px;
}

.footer_top i:hover {
    border: 4px outset #00dfc4;
    border-radius: 100%;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    margin: 10px;
    padding: 4px;
}

.footer_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: inherit;
    transition: color 0.25s;
}

.footer_list a:hover {
    color: #fff;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    width: 100px;
    border-radius: 50%;
}


@media (max-width:600px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav .nav-btn label:hover,
    .nav #nav-check:checked~.nav-btn label {
        background-color: rgba(0, 0, 0, 0.3);

    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #223243;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        margin-top: 1em;
        top: 50px;
        left: 0px;
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.1),
            10px 10px 15px rgba(0, 0, 0, 0.35),
            inset -10px -10px 15px rgba(255, 255, 255, 0.1),
            inset 10px 10px 15px rgba(0, 0, 0, 0.35);
    }

    .nav .nav-links a {
        display: block;
        width: 100%;
        margin-top: 1em;
    }


    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        z-index: 1;
    }

    .nav .nav-links .burger {
        display: inline-flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: row-reverse;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        text-align: center;
        background-color: #223243;
        color: #fff;
    }

    .main th,
    .main td {
        font-size: 0.8em;
    }

    .main .add-btn,
    .main .remove-btn {
        font-size: 0.7em;
        padding: 0.5px 2.5px;
    }

    .buy-btn,
    .empty-cart-btn {
        font-size: 0.7em;
        padding: 5px;
    }

    .main td:last-child {
        width: 50px;
    }

    .wrap-footer {
        position: fixed;
        bottom: 0vh;
    }

    .dropdown #dropdown-check:checked~.dropdown-content {
        display: block;
    }

}

@media (max-width:1080px) {
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav .nav-btn label:hover,
    .nav #nav-check:checked~.nav-btn label {
        background-color: rgba(0, 0, 0, 0.3);

    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #223243;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        margin-top: 1em;
        top: 50px;
        left: 0px;
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.1),
            10px 10px 15px rgba(0, 0, 0, 0.35),
            inset -10px -10px 15px rgba(255, 255, 255, 0.1),
            inset 10px 10px 15px rgba(0, 0, 0, 0.35);
    }

    .nav .nav-links a {
        display: block;
        width: 100%;
        margin-top: 1em;
    }


    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        z-index: 1;
    }

    .nav .nav-links .burger {
        display: inline-flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: row-reverse;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        text-align: center;
        background-color: #223243;
        color: #fff;
    }

    .left-side,
    .right-side {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .main th,
    .main td {
        font-size: 0.9em;
    }

    .main .add-btn,
    .main .remove-btn {
        font-size: 0.8em;
        padding: 0.7px 3.5px;
    }

    .buy-btn,
    .empty-cart-btn {
        font-size: 0.8em;
        padding: 5px;
    }

    .wrap-footer {
        position: fixed;
        bottom: 0vh;
    }

    .dropdown:hover,
    .dropdown #dropdown-check:checked~.dropdown-content {
        display: block;
    }

}
