@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
}
.container {
  border-radius: 2px;
  border: 8px solid #223243;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.container header {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background: #223243;
  justify-content: space-between;
}


header a{
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

header a:active{
  text-decoration: underline;
}

header img {
  position: static;
  width: 50px;
  height: 50px;
  margin-right: 1em;
  border-right: 1px solid #00dfc4;
}

header ul {
  display: fe;
  justify-content: center;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header li {
  margin-right: 20px;
  margin-left: 20px;
}


nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
  margin-left: auto;
}

header a:hover {
  background: #00dfc4;
  color: #223243;
  padding: 10PX 0;
  font-weight: 500;
  cursor: pointer;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.35),
  inset -5px -5px 15px rgba(255, 255, 255, 0.1),
  inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  padding: 10px;
  }
